/* Accordion.css */

.content {
  /* max-height: 0; */
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  @apply bg-purple-primary rounded-2xl text-white-primary max-w-full lg:max-w-[680px] p-5 sm:p-9 transition-all ease-in-out duration-500 block my-6;
}

.open {
  max-height: fit-content;
  border: 3px solid bluered;
}

.closed {
  max-height: fit-content;
}
