@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-[32px] sm:text-[42px] font-semibold leading-[40px] sm:leading-[52px];
  }

  h2 {
    @apply text-[32px] sm:text-[42px] font-semibold leading-[40px] sm:leading-[52px];
  }

  h4 {
    @apply text-gray-text text-lg sm:text-[20px] font-primary leading-[155%] sm:leading-7;
  }

  p {
    @apply font-primary text-lg text-gray-text font-normal;
  }

  .custom-background {
    @apply bg-blue-primary;
  }

  .custom-box-shadow {
    box-shadow: 0px 25.6px 57.6px 0px rgba(0, 0, 0, 0.22);
  }

  .custom-blur {
    filter: blur(77.4px);
  }

  .gradient-primary {
    @apply text-transparent bg-clip-text bg-gradient-to-bl from-blue-200 via-blue-500 to-blue-900;
  }

  .custom-border {
    position: relative;
    padding: 1rem;
    border-radius: 31px;
    background: white; /* Your background color */
  }

  .custom-border::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border-radius: inherit; /* Inherits the border-radius from the parent */
    padding: 2px; /* Thickness of the border */
    background: linear-gradient(230.71deg, #45a6ff 6.97%, #1353bc 102.56%);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: exclude; /* Subtract the inner box from the gradient */
    -webkit-mask-composite: xor; /* Same for webkit browsers */
    pointer-events: none; /* Prevent the pseudo-element from blocking clicks */
  }
}

@layer utilities {
  .wrapper {
    @apply px-4 lg:px-[160px]  2xl:px-[260px];
  }
}
